#----------------------------#
#------ Global ignores --------#
#----------------------------#
obj/
bin/
.vs/
*.user
*.pdb
*.suo
*.vbproj.user
*.vshost.exe
*.vshost.exe.manifest
*.vshost.exe.config
*.exe.config
*.dll.config
*.VC.db
codealike.json
packages/
setups
/TempDebug/
/Code/TempDebug/
/Code/nuget.packages/
/.vs
connectionString
appsettings.Development.json